$tmp_size: 1em;

@keyframes kf-loader-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes kf-loader-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate($tmp_size, 0);
  }
}
@keyframes kf-loader-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader-ellipsis {
  display: inline-block;
  position: relative;
  height: $tmp_size * 0.7;
  width: ($tmp_size * 3) - ($tmp_size * 0.3);

  & > * {
    position: absolute;
    top: 0;
    width: $tmp_size * 0.7;
    height: $tmp_size * 0.7;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 0;
      animation: kf-loader-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 0;
      animation: kf-loader-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: $tmp_size;
      animation: kf-loader-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: $tmp_size * 2;
      animation: kf-loader-ellipsis3 0.6s infinite;
    }
  }
}